/*one_page_website.css*/

body {
    background-color: #ffe0e6;
    font-family: Arial;
    font-size: 2em;
    color: darkslategray;
}

h1 {
    color: mediumturquoise;
    font-family: serif;
}



img {
    border-radius: 10px;
}